<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>login</title>
    <link href="lib/ionic/css/ionic.css" rel="stylesheet"/>
</head>
<body ng-app="login">
<div class="ionic-body">
    <div class="content" ng-controller="EmailCtrl as user">
        <div class="list card">
            <label class="item item-input">
                <input type="email" placeholder="请输入邮箱" ng-model="user.email"/>
            </label>
            <a class="item item-positive text-center" href="#" ng-click="user.login()">
                注册并登陆
            </a>
        </div>

    </div>
</div>
<script type="text/javascript" src="lib/ionic/js/ionic.bundle.js"></script>
<script type="text/javascript" src="js/index.js"></script>
</body>
</html>